<form [formGroup]="form">

  <div class="min-h-screen flex items-center justify-center items-start pt-16 ">

    <div class="w-full max-w-md overflow-hidden">

      <div class="flex transition-transform duration-300 ease-in-out"
        [style.transform]="'translateX(-' + (step - 1) * 100 + '%)'">

        <!-- STEP 1 -->
        <div class="w-full flex-shrink-0">
          @if (form) {
            <app-step-one 
              [form]="form" 
              (next)="next()" />
          }
        </div>

        <!-- STEP 2 -->
        <div class="w-full flex-shrink-0">
          @if (form) {
            <app-step-two 
              [form]="form"
              [loading]="loading"
              (submit)="handleSubmit()"
              (prev)="prev()" />
          }
        </div>

      </div>

    </div>

  </div>

</form>