<div class="layout">
  <aside class="sidebar">

    @if(user()){
    <div class="profile">
      <img [src]="user()?.avatar_url" width="150" alt="Avatar">
      <div class="identity">
        <h2>{{ user()?.login }}</h2>
        <p class="role">Full Stack Engineer</p>
      </div>
    </div>}


    <div class="stats">
      <div class="stat">
        <span><strong>Repos:</strong> {{ user()?.public_repos }}</span>
      </div>

      <div class="stat">
        <span><strong>Seguidores:</strong> {{ user()?.followers }}</span>
      </div>
    </div>


    <div class="about">
      <h4>Sobre mí</h4>
      <p>texto...</p>
    </div>


    <div class="action">
      <button class="follow-btn">Follow on GitHub</button>
    </div>
  </aside>

  <main class="content">
    @if (loading()) {
    <p>Cargando datos de GitHub...</p>
    }

    @if (error()) {
    <p style="color:red">{{ error() }}</p>
    }

    @if (user()) {
    <div class="my-information">
      <p><strong>Usuario:</strong> {{ user()?.login }}</p>
      <p><strong>Bio:</strong> {{ user()?.bio }}</p>
    </div>
    }

    <div class="repo-container">
      <!-- El ciclo @for va aquí, sobre el componente hijo -->
      @for (item of repos(); track item.id) {
      <app-repo-card [repos]="item"></app-repo-card>
      } @empty {
      @if (!loading()) {
      <p>No se encontraron repositorios públicos.</p>
      }
      }
    </div>
  </main>
</div>
