* {
    box-sizing: border-box;
}
body{
    overflow: hidden !important;
    margin: 0;
}


.repo-container {
    display: flex;
    gap: 1.25rem;
    padding: 1.25rem;
    scrollbar-width: none; /* Firefox */
}

.repo-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
/* Ocultar la barra de scroll si lo prefieres */


.layout {
    display: flex;
    height: 100vh; /* Ocupa el total de la pantalla[cite: 1] */
}

.sidebar {
    padding-top: 2rem;
    border: 0.063rem solid var(--purssian-blue);
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 4rem;
    padding: 0rem 1.5rem;
    width: 14.625rem;
    height: calc(100vh - 4rem);
    overflow-y: auto; /* Permite scroll solo en la sidebar si hay mucha info */
}
.profile{
    padding: 2rem 0rem 3rem 0rem;   
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    border-radius: 2.2rem;
    overflow: hidden;
    width: 100%;
    height: 11.2rem;
    justify-content: space-between;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1rem ;
}
.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.188rem;
    margin-top: 0.625rem;
    background-color: var(--ink-black-component);
    height: 3.125rem;
    width: 5rem;
    /* Sombra para darle el efecto brillante */
    box-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.208);
    padding: 0.5rem;

    border-width: 0.036rem;
    border-color: #30363d;
    border-style: solid;
    border-radius:0.25rem;
   
}

.stat p{
    margin: 0;
    font-size: 0.625rem;
    letter-spacing: 0.075rem;
    color: #64748B
}
.stat span{
    font-size: 0.75rem;
    font-weight: 700;
}

.profile .identity h2{
    font-size: 1rem;
}
.img-container{
    filter: brightness(0.9);
    width: 5.813rem;
    height: 5.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profile img{
    border-radius: 10%;
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.340);
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    object-fit: cover; /* Mantiene la imagen recortada y centrada */
}
.identity{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.063rem;
}
.identity p, 
.identity h2{
    margin: 0;
}

.identity p{
    font-size: 0.8rem;
    font-weight: 400;
    color: #64748B;
}
.about{
    display: block;
    letter-spacing: 0.034rem;
    color: rgb(148, 163, 184);
    padding-bottom: 2.5rem;
}
.about h4{
    padding-top: 0.5rem;
    font-size: 0.60rem;
    font-weight: 700;
    height: 1.1rem;
    width: 11.25rem;
}

.about p{
    font-weight: 400;
    font-size: 0.65rem;
    letter-spacing: 0.050rem;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-left: 1rem;
    margin-inline: clamp(17px, 3vw, 40px); /*No entiendo muy bien como funciona (investigar)*/
    margin-left: 15.9rem;
    height: calc(100vh - 4rem);
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    overflow-x: hidden; /*Esconde barra eje X */
} 

.my-game{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--ink-black-component);
    padding: 1.5rem;
    border-radius: 2%;
    gap:14px;
    margin-top: 2.2rem;
}

.my-game h1, .my-game h5{
    margin: 0;
    padding: 0.75rem;
    margin-left: 1rem;
}

.my-game h5{
    color:rgba(172, 200, 255, 0.979);
    border:1px solid rgba(73, 143, 255, 0.3);
    border-radius: 50px;
    width: auto;
    height: 2rem;
    line-height: 0.4rem;
    font-size: 13px;
    font-weight: 500;
}
.my-game h1{
    font-size: 40px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.game-info{
    display: flex;
    flex-direction: column;
}
.game-info h4{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;

}
.game-info p{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.repo-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 1rem;
    margin-right: 1.35rem;
}
ul{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.12rem;
}
li{
    color: #94A3B8;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.1px;
}
ul li p {
    font-size: 0.9rem;
}

.repo-container::-webkit-scrollbar {
    display: none; /*[cite: 1] */
}

.follow-btn {
    width: 100%;
    padding: 0.5rem;
    background: var(--ink-black-component);
    border: 0.063rem solid #30363d;
    color: var(--azure-blue);
    border-radius: 0.5rem;
}

.follow-btn:hover {
    filter: brightness(1.2);  /* Hace el botón más brillante */
}