<div class="min-h-screen flex items-start justify-center pt-30 px-5 sm:px-0 ">
    <form
        class="flex flex-col items-center text-center border-[1px] border-[var(--ale)] gap-2 w-full max-w-md p-4 bg-[var(--ink-black-component)] rounded-lg shadow-2xl max-w-[450px]"
        (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h1 class="text-2xl font-bold animate-fadeIn ">Bienvenido de nuevo</h1>
        <span class="mb-4 text-[14px] animate-fadeIn-2">Ingresa tus credenciales para acceder.</span>

        <div class="flex flex-row justify-center gap-4 mb-6 ">
            <button type="button" (click)="selectProfile(profiles[0])" 
            title="Loguear como perfil 1" class="group hover:cursor-pointer flex flex-col gap-1">
                <div
                    class="rounded-lg group-hover:border-2 border-2 border-[#414754] group-hover:border-[var(--primary)] text-3xl w-14 h-14 flex items-center justify-center bg-[#32353C]">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <span class=" text-xs">Perfil 1</span>
            </button>

            <button type="button" (click)="selectProfile(profiles[1])"  
            title="Loguear como perfil 2" class="group hover:cursor-pointer flex flex-col gap-1">
                <div
                    class=" rounded-lg group-hover:border-2 border-2 border-[#414754]  group-hover:border-[var(--primary)] text-3xl w-14 h-14 flex items-center justify-center bg-[#32353C]">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <span class=" text-xs">Perfil 2</span>
            </button>

            <button type="button" (click)="selectProfile(profiles[2])"  
            title="Loguear como perfil 3" class="group hover:cursor-pointer flex flex-col gap-1">
                <div
                    class="rounded-lg group-hover:border-2 border-2 border-[#414754] group-hover:border-[var(--primary)] text-3xl w-14 h-14 flex items-center justify-center bg-[#32353C]">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <span class=" text-xs">Perfil 3</span>
            </button>
        </div>

        <div class="w-[95%] sm:w-full flex flex-col gap-1">

            <div class="mb-3">
                <label class="block text-sm mb-1 text-start">Email</label>
                <input type="email" placeholder="ejemplo1@gmail.com "
                    class="input-field w-full p-2 pl-3 rounded bg-[#1f1f1f] border border-gray-600 focus:outline-none focus:border-[var(--azure-blue-2)] placeholder:text-sm placeholder:tracking-wider"
                    [(ngModel)]="email" name="email" required email #emailField="ngModel">

                @if (emailField.invalid && emailField.touched){
                <div class="text-red-500 text-xs text-start mt-1.5"> Ingrese un correo electronico</div>}
            </div>

            <div class="mb-3">
                <label class="block text-sm mb-1 text-start">Contraseña</label>
                <input type="password" placeholder="••••••••"
                    class="w-full p-2 pl-3 rounded bg-[#1f1f1f] border border-gray-600 focus:outline-none focus:border-[var(--azure-blue-2)] placeholder:text-xs placeholder:tracking-widest"
                    [(ngModel)]="password" name="password" required minlength="6" #passField="ngModel">
                @if (error()) {
                <div class="text-red-500 text-sm text-start mt-1">{{ error() }}</div>
                }
                @if (passField.invalid && passField.touched){
                <div class="text-red-500 text-xs text-start mt-1.5"> Ingrese minimo 6 caracteres</div>}
            </div>

            <button type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 py-2 rounded hover:text-[17px] disabled:opacity-95 "
                [disabled]="loginForm.invalid">
                Iniciar sesión
            </button>


        </div>


    </form>
</div>