/*Variables globales*/
:root{
    /*Paleta de colores principales*/
    --ink-black: #10131a;
    --ink-black-component: #161B22;
    --purssian-blue: #1B2739;
    --azure-blue: #2F81F7;
    --yale-blue: #16425B;
    --sky-blue: #81C3D7;

   
}
 /*Global app overides (fondo y texto)*/
html,body{
    font-family: Inter, sans-serif;
    background-color: var(--ink-black);
    color: #e0e2ec;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
html {
  /* Ocultar en Firefox */
  scrollbar-width: none;
  /* Ocultar en IE y Edge */
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  /* Ocultar en Chrome, Safari y Opera */
  display: none;
}